*{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2{
  font-weight: bold;
  font-size: 32px;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}

.hero{
  background-image: URL("../images/the-flatiron-building.png");
  width: auto;
  height: auto;
  background-color: black;
}
.nav a{
  font-size: 18px;
  color: white;
}

.nav{
  list-style: none;
}
.white{
  color: white;
}
.footer-nav{
  background-color: dimgray;
  list-style: none;
  color: white;
}
.footer-nav p{
  font-size: 11px;
}
.footer-nav a{
  color: white;
}
ul{
  display: inline;
  width: 60px;
  border: 1px;
  border-color: red;
}
